body {
    font-family: 'Arial', sans-serif;
}

img {
    width: 100%;
    height: auto;
}

#zone1 {
    margin-top: auto;
    margin-left: 30%;
    margin-right: 30%;
    position: relative;
    background-color: #F5683B;
    border-radius: 10px;
    padding: 20px;
    margin-top: 50px;
    margin-bottom: -50px;
}

h1 {
    text-align: center;
    color: white;
    font-size: 20px;
}

h2 {
    text-align: center;
    color: white;
    margin-top: 40px;
    font-size: 50px;
}

h3 {
    text-align: center;
    color: white;
    margin-top: 10px;
    font-size: 10px;
}